
<nav>
    <div class="site-title">
        <a href="/"><h1><b>TaskMaster</b></h1></a>
        <p>Powered by nobody</p>
    </div>

    <ul class="links">
        <li><a href="/">Tasks</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/tasks/create">Add Task</a></li>
    </ul>
</nav>