<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/navbar.ejs') %>

    <div class="notFound content">
        <h2>404 PAGE NOT FOUND</h2>
        <p>please enter a valid id for the task</p>
        
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>