<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/navbar.ejs') %>

    <div class="about content">
        <h2>About us:-</h2>
        <p>Welcome to TaskMaster, your personal to-do list and task manager designed to help you stay organized and productive! As a student-driven project, TaskMaster is constantly evolving with new features and improvements. The goal is to create a tool that makes managing your tasks simple and stress-free, allowing users to stay productive without the hassle of complex task management software.</p>
        
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>