<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/navbar.ejs') %>

    <div class="create-task content">
        <form action="/tasks" method="post" >
            <label for="title">Task Title:-</label>
            <input type="text" id="title" name="title" required>
            <label for="taskday">Task Day:-</label>
            <input type="text" id="taskday" name="taskday" required>
            <label for="body">Task Body:-</label>
            <textarea id="body" name="body" required></textarea>
            <button>Submit</button>
        </form>

    </div>
    <%- include('../partials/footer.ejs') %>
</body>
</html>